.cv {
  flex: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */

  overflow: auto;
  width: 100%;
}

.cv-section {
  flex: 1 1 auto;
  margin: 10px;
  /* overflow: visible; */
  min-width: 500px;
}

.cv-section legend {
  font-weight: bold;
  font-size: 1.2rem;
}

.cv-section fieldset {
  padding-top: 14px;
  margin-bottom: 7px;
}

.form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='tel'] {
  width: 250px;
  height: initial;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type='tel'] {
  width: 200px;
}
.form-row input[type='month'] {
  height: 22px;
}

.form-row select {
  padding: 5px;
}

.form-row input[type='checkbox'] {
  transform: scale(1.2);
  margin-top: 8px;
  margin-left: 12px;
}

.form-row input[type='checkbox'] + span {
  margin-top: 6px;
  margin-left: 3px;
  font-size: 0.9em;
}

.form-row textarea {
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 3px;

  min-height: 180px;
  padding: 7px;
  resize: none;
}

.form-row label {
  text-align: right;
  width: 120px;
  margin-top: 7px;
  padding-right: 20px;
}

.add-btn{
  margin-left: 10px;
  padding: 3px 10px;
  border: none;
  border-radius: 45%;
  background-color: #31b86e;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.save-btn, .edit-btn {
  padding: 12px 32px;
  margin: 0px 6px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

.save-btn {
  background-color: #31b86e;
}

.save-btn:disabled, .edit-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.edit-btn {
  background-color: #2a86ff;
}