.preview {
  flex: 50%;
  height: 100vh;
  background-color: lightgray;
  overflow: scroll;
}

.a4 {
  background-color: white;
  margin: 10px;
  width: 80%;
  height: 846px;
  padding: 10px;
}

.preview-header {
  display: flex;
  justify-content: space-between;
  margin-right: 7px;
  margin-left: 7px;
}

.preview-header h1 {
  margin: 24px px;
}

.personal-details {
  margin-top: 22px;

}

.preview-section {
  /* border-bottom: 1px solid black; */
  margin: 7px;
}

.preview-section h2 {
  margin: 0;
  color: brown;
}

.preview-section hr {
  margin-top: 5px;
  margin-bottom: 10px;
}